<!DOCTYPE html>
<html>
<head>
  <style>
    .header{
    background-color: red;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 28px;
    color: white;
    font-family:Verdana;
    vertical-align:middle;
    }

    .footer{
    background-color: red;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 28px;
    color: white;
    font-family:Verdana;
    vertical-align:middle;

    }

    .middleContainer{
    margin-top: 100px;
    height: auto;
    width: 100%;
    background-color: ghostwhite;

    }

    .leftInContainer{
    width: 10%;
    float: left;
    }

    .rightInContainer{
    float: left;
    width: 90%;
    }

    .menuButton{
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: ghostwhite;
    }



  </style>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
	<div class="header">
      Races API
	</div>
  <div class="middleContainer">
    <div class="leftInContainer">
      <a href="/home">
        <div class ="menuButton" >
          Home
        </div>
      </a>
      <a href="/races">
        <div class ="menuButton" >
          Races
        </div>
      </a>
      <a href="/cafes">
        <div class ="menuButton" >
          Cafes
        </div>
      </a>
      <a href="/home">
        <div class ="menuButton" >
          Users
        </div>
      </a>
      <a href="/home">
        <div class ="menuButton" >
          Documentatie
        </div>
      </a>
      
    </div>

    <div class ="rightInContainer">
      <h1>API</h1>
    </div>
    
  </div>

  <div class="footer">
    Races API
  </div>

</body>
</html>
